@charset "UTF-8";
/*
Common class for setting width
================================================ */
.inner {
  max-width: 1238px;
  margin-inline: auto;
  padding: 0 15px;
}

/*
COMMON
================================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Meiryo";
  color: rgb(18, 18, 18);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 61px;
  text-align: center;
}

/*-------------------------------------------
#header
-------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #fff;
  padding: 20px 40px;
}
#header .header-logo {
  width: 175px;
  line-height: 1px;
}

/*-------------------------------------------
ハンバーガーメニュー
-------------------------------------------*/
.hamburger {
  position: fixed;
  top: 30px;
  right: 45px;
  width: 30px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
}
.hamburger span {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.4s;
}
.hamburger span:nth-of-type(1) {
  top: 0;
}
.hamburger span:nth-of-type(2) {
  top: 10px;
}
.hamburger span:nth-of-type(3) {
  top: 20px;
}

.open span:nth-of-type(1) {
  background-color: #fff;
  top: 10px;
  transform: rotate(-315deg); /* 1本目を反時計回りに45度回転 */
  z-index: 2;
}

.open span:nth-of-type(2) {
  background-color: #fff;
  opacity: 0;
}

.open span:nth-of-type(3) {
  background-color: #fff;
  top: 10px;
  transform: rotate(315deg); /* 3本目を反時計回りに45度回転 */
}

/* メニュークリック後の黒色背景 */
.black-mask {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  cursor: pointer;
}

.open .black-mask {
  opacity: 0.8;
  visibility: visible;
  z-index: 1;
}

/*-------------------------------------------
slide
-------------------------------------------*/
.slide {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #121212;
  padding: 25px;
  z-index: 4;
  transition: all 0.5s;
}
.slide .slide-top {
  border-bottom: 1px solid #fff;
  margin-top: 35px;
}
.slide .slide-top li {
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.slide .slide-bottom {
  margin-top: 70px;
}
.slide .slide-bottom li:not(:last-child) {
  margin-bottom: 10px;
}
.slide a {
  display: inline-block; /* 高さの余白を持たせるため */
  font-size: 0.875rem;
  line-height: 24px;
  color: #fff;
}

.open .slide {
  left: 0;
}

/*-------------------------------------------
#video-area
-------------------------------------------*/
#video-area {
  padding-top: 80px;
}
#video-area video {
  width: 100%; /* ビデオの幅を100%に設定 */
  max-height: 960px;
  object-fit: cover;
}

/*-------------------------------------------
#pick-up
-------------------------------------------*/
#pick-up {
  background-color: gold;
  margin-top: 105px;
}
#pick-up .carousel {
  display: flex;
}

/*-------------------------------------------
#feature
-------------------------------------------*/
#feature {
  margin-top: 85px;
}
#feature .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.grid-item {
  box-shadow: 0 2px 10px 4px rgba(181, 181, 181, 0.5);
}
.grid-item .grid-item-bottom {
  padding: 30px;
}
.grid-item .grid-item-bottom .grid-title,
.grid-item .grid-item-bottom .grid-date {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 20px;
}
.grid-item .grid-item-bottom .grid-text {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0;
}
.grid-item .grid-item-bottom .grid-date {
  display: inline-block;
  width: 100%;
  text-align: right;
}

/*-------------------------------------------
#contact
-------------------------------------------*/
#contact {
  font-size: 0.875rem;
  line-height: 24px;
  color: #fff;
  background-color: #121212;
  padding: 45px 0 30px 0;
  margin: 60px 0 0 0;
}
#contact .contact-contents {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.contact-contents-left {
  width: 45%;
  letter-spacing: 0.5px;
}
.contact-contents-left .contact-text:not(:first-child) {
  margin-top: 30px;
}

.contact-contents-right {
  width: 45%;
}
.contact-contents-right div {
  margin-bottom: 20px;
}
.contact-contents-right label {
  display: block;
}
.contact-contents-right input[type=text],
.contact-contents-right input[type=email],
.contact-contents-right textarea {
  background-color: #fff;
  width: 100%;
  padding: 10px;
}
.contact-contents-right input[type=submit] {
  color: #fff;
  width: 200px;
  border: 1px solid #fff;
  line-height: 50px;
}
.contact-contents-right input[type=submit]:hover {
  color: #121212;
  background-color: #fff;
}

/*-------------------------------------------
#footer
-------------------------------------------*/
#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  font-size: 0.75rem;
  padding-bottom: 10px;
}

/* レスポンシブ・ブレークポイント600px
------------------------------- */
/*-------------------------------------------

-------------------------------------------*/