@charset "UTF-8";

//** VARIABLES ================================= **//
$mainColor: #000;  // 文字色

//** mixin ===================================== **//
@mixin flexMode($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

/*
Common class for setting width
================================================ */
.inner {
    max-width: 1245px;
    margin-inline: auto;
    padding: 15px;
}

/*
COMMON
================================================ */
* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    font-family: "Meiryo";
    color: $mainColor;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 61px;
}

/*-------------------------------------------
#header
-------------------------------------------*/
#header {
    background-color: tan;
    padding: 0 30px;
}

/*-------------------------------------------
#video-area
-------------------------------------------*/
#video-area {
    background-color: orange;
}

/*-------------------------------------------
#pick-up
-------------------------------------------*/
#pick-up {
    background-color: gold;
}

/*-------------------------------------------
#feature
-------------------------------------------*/
#feature {
    background-color: tomato;
}

/*-------------------------------------------
#contact
-------------------------------------------*/
#contact {
    background-color: plum;
}

/*-------------------------------------------
#footer
-------------------------------------------*/
#footer {
    background-color: pink;
}

/* レスポンシブ・ブレークポイント600px
------------------------------- */







/*-------------------------------------------

-------------------------------------------*/